body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    width: 350px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #618685;
    padding: 0 75px;
    border-radius: 4px;

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    padding: 50px 350px;    
}

#buttonContainer {
    display: flex;
    justify-content: center;
    background-color: #4e6d6c;
    
}

#choices {
    display: flex;
    background-color: #618685;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    border: double 8px #4e6d6c;
    border-bottom: solid 8px #618685;
}

#roundCount {
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #4e6d6c;
}

#roundResult {
    margin-bottom: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 15px;
}

#playerChoice, #computerChoice {
    display: flex;
    justify-content: center;
    border: double 8px #618685;
    background-color: #4e6d6c;
    padding: 50px 100px;
    font-weight: 900;
    color: #fefbd8;
    width: 150px;
}

.box1, .box3 {
    height: 300px;
    background-color: #9fa9a3;
}

header {
    display: flex;
    order: 0;
    background-color: #4e6d6c;
    height: 50px;
}

footer {
    display: flex;
    order: 3;
    background-color: #4e6d6c;
    height: 50px;
}

#roundResult {
    font-weight: 900;
    background-color: #4e6d6c;
    color: #fefbd8;
}

